<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
    <head>
        <title>Notes App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" type="text/css" rel="stylesheet">
    </head>
    <body ng-controller="MainCtrl as ctrl">

    <div style="padding: 10px" class="container">

        <div>
            <h2>What are your favorite sports?</h2>
            <div ng-repeat="sport in ctrl.sports">
                <label ng-bind="sport.label"></label>
                <div>
                    With Binding:
                    <input type="checkbox"
                           ng-model="sport.selected"
                           ng-true-value="'YES'"
                           ng-false-value="'NO'"
                    >
                </div>
                <div>
                    Using ng-checked
                    <input type="checkbox"
                           ng-checked="sport.selected === 'YES'">
                </div>
                <div>
                    Current state: {{sport.selected}}
                </div>
            </div>

        </div>

    </div>

        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="app.js"></script>
        <script src="checkboxexample.controller.js"></script>
    </body>
</html>