<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
    <head>
        <title>Notes App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" type="text/css" rel="stylesheet">
    </head>
    <body ng-controller="MainCtrl as ctrl">

    <div style="padding: 10px" class="container">

        <div class="form-group"  ng-init="user = {gender: 'female'}">
            <input  type="radio"
                    name="gender"
                    ng-model="user.gender"
                    value="Masculino"
            >

            <input  type="radio"
                    name="gender"
                    ng-model="user.gender"
                    value="Feminino"
            >

            {{user.gender}}

        </div>

        <!-- ng-value atribuir valores diretamente usando o escopo do angular-->
        <div class="form-group"  ng-init="otherGender = 'other'">
            <input  type="radio"
                    name="gender"
                    ng-model="user.gender"
                    value="male"
                    >Masculino
            <input  type="radio"
                    name="gender"
                    ng-model="user.gender"
                    value="female">Feminino
            <input type="radio"
                   name="gender"
                   ng-model="user.gender"
                   ng-value="otherGender"> {{otherGender}}

        </div>

    </div>

        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="app.js"></script>
        <script src="radiobuttonexample.controller.js"></script>
    </body>
</html>